.noto{font-family: 'Noto Sans KR', sans-serif;}
.lora{font-family: 'Lora',serif;}

ul li{list-style: none;}
a{text-decoration: none;}
input[type='checkbox']{display: none;}

/* ALL USING */

.mainArea{overflow-y: hidden;}

@media screen and (min-width: 769px) and (max-width: 1280px){
    .mainHeader{z-index: 10; position: fixed; margin: 0 7.81%; width: calc(100% - 15.62%); height: 120px; display: flex; align-items: center; justify-content: center;}
    .mainHeader.on ul li a{color: #67594c; transition: color 0.5s;}
    .mainHeader h1{position: absolute; width: 85px; height: 80px; left: 0; top: 20px;}
    .mainHeader h1 a{background: url(../image/3ce_logo.png) no-repeat center / 100%; width: 85px; height: 80px; display: block; transition-duration: 0.5s;}
    .mainHeader.on h1 a{background: url(../image/3ce_logo_B.png) no-repeat center / 100%; width: 85px; height: 80px; display: block; transition: background 0.5s;}
    .mainHeader nav ul{display: flex; justify-content: center;}
    .mainHeader nav ul li:not(:last-of-type){margin-right: 50px;}
    .mainHeader nav ul li a{font-size: 23px; font-weight: 400; color: #fff; transition-duration: 0.5s;}
    .mainHeader > ul{position: absolute; right: 0; display: flex; justify-content: center; align-items: center;}
    .mainHeader > ul li:first-of-type{width: 19px; height: 19px;}
    .mainHeader > ul li:first-of-type a{background: url(../image/Icon/search.png) no-repeat center / 100%; width: 19px; height: 19px; display: block; transition-duration: 0.5s;}
    .mainHeader.on > ul li:first-of-type a{background: url(../image/Icon/search_B.png) no-repeat center / 100%; width: 19px; height: 19px; display: block; transition: background 0.5s;}
    .mainHeader > ul li:not(:last-of-type){margin-right: 50px;}
    .mainHeader > ul li a{font-size: 25px; font-weight: 400; color: #fff; transition-duration: 0.5s;}
    .mainHeader.on > ul li a{transition: color 0.5s;}
    /* mainHeader(인덱스,로그인 헤더) Fin */


    .shopArea,.productArea{max-width: 1690px; margin: 0 auto; position: relative;}
    .subHeader{width: 100%; height: 170px; display: flex; align-items: center; justify-content: center;}
    .subHeader h1{position: absolute; width: 85px; height: 80px;  left: 20px; top: 45px;}
    .subHeader h1 a img{width: 100%;}
    .subHeader nav ul{display: flex; justify-content: center;}
    .subHeader nav ul li:not(:last-of-type){margin-right: 50px;}
    .subHeader nav ul li a{font-size: 25px; font-weight: 400; color: #67594c;}
    .subHeader > ul{position: absolute; right: 20px; display: flex; justify-content: center;}
    .subHeader > ul li:first-of-type{width: 19px; height: 19px;}
    .subHeader > ul li a img{width: 100%;}
    .subHeader > ul li:not(:last-of-type){margin-right: 50px;}
    .subHeader > ul li a{font-size: 25px; font-weight: 400; color: #67594c;}
    /* subHeader(인덱스,로그인 제외 모든헤더) Fin */

    
    .loginHeader h1 a{background: url(../image/3ce_logo_B.png) no-repeat center / 100%;}
    .loginHeader nav ul li a{color: #67594c;}
    .loginHeader > ul li:first-of-type a{background: url(../image/Icon/search_B.png) no-repeat center / 100%;}
    .loginHeader > ul li a{color: #67594c;}
    /* loginHeader(로그인 헤더) Fin */


    .mainSlide.swiper-container{position: relative; width: calc(100% + 100px); height: 514px; margin-left: -100px;}
    .mainSlide .swiper-slide{text-align: center; font-size: 18px; width: 350px; height: 465px; background-size: cover; background-position: center; background-repeat: no-repeat;}
    .mainSlide.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet{margin: 0 5px 0 0;}

    .newPage a{display: block; transition-duration: 0.6s; letter-spacing: 1.5px; width: 350px; height: 100%; display: flex; flex-direction: column; justify-content: center;}
    .newPage a:hover{transition: background-color 0.3s ease-in-out; background-color: rgba(103, 89, 76, 0.3);}
    .newPage a strong,.newPage a div s, .newPage a div p{display: none;}
    .newPage a:hover strong{display: block; line-height: 24px; font-size: 20px; font-weight: 500; color: #fff;}
    .newPage a strong span{display: block;}
    .newPage a:hover div{display: flex; justify-content: center; margin-top: 60px;}
    .newPage a:hover div s, .newPage a:hover div p{display: inline-block; font-size: 20px; font-weight: 400; color: #fff;}
    .newPage a:hover div s{opacity: 0.8;}
    .newPage a:hover div s::after{content: '원';}
    .newPage a:hover div p::before{margin: 0 5px; content: '→';}
    .newPage a:hover div p::after{content: '원';}
    .newPage:first-of-type{background-image: url(../image/Edition/1/BUTTERCREAM/1.jpg);}
    .newPage:nth-of-type(2){background-image: url(../image/Edition/1/SOFTMELLOW/1.jpg);}
    .newPage:nth-of-type(3){background-image: url(../image/Edition/1/WARMISHMOVE/1.jpg);}
    .newPage:last-of-type{background-image: url(../image/Edition/1/ORANGEBREEZE/1.jpg);}
    .newPagination > .swiper-pagination-bullet{width: 24px; height: 24px; opacity: 1; border-radius: 0; display: inline-block; background: #c1a58d; transition-duration: 0.3s;}
    .newPagination > .swiper-pagination-bullet-active{background-color: rgba(255, 255, 255, 0.4); border-radius: 0; border: #c1a58d 1px solid; width: 195px; transition: width 0.3s ease-in-out; box-sizing: border-box;}
    .newPagination > .swiper-pagination-fraction, .newPagination.swiper-pagination-custom, .swiper-container-horizontal > .newPagination.swiper-pagination-bullets{width: auto; bottom: 0; left: 0;}
    /* mainNew(인덱스 뉴 슬라이드) slide Fin */


    .bestPage a{display: block; transition-duration: 0.6s; letter-spacing: 1.5px; width: 350px; height: 100%; display: flex; flex-direction: column; justify-content: center;}
    .bestPage a:hover{transition: background-color 0.3s ease-in-out; background-color: rgba(103, 89, 76, 0.3);}
    .bestPage a strong,.bestPage a div p{display: none;}
    .bestPage a:hover strong{display: block; line-height: 24px; font-size: 20px; font-weight: 500; color: #fff;}
    .bestPage a strong span{display: block;}
    .bestPage a:hover div{display: flex; justify-content: center; margin-top: 60px;}
    .bestPage a:hover div p{display: inline-block; font-size: 20px; font-weight: 400; color: #fff;}
    .bestPage a:hover div p::after{content: '원';}
    .bestPage:first-of-type{background-image: url(../image/best/lip/lip_1/1.jpg);}
    .bestPage:nth-of-type(2){background-image: url(../image/best/EYE/EYE_1/1.jpg);}
    .bestPage:nth-of-type(3){background-image: url(../image/best/ACC/ACC_1/1.jpg);}
    .bestPage:last-of-type{background-image: url(../image/best/FACE/FACE_1/1.jpg);}
    .bestPagination > .swiper-pagination-bullet{width: 24px; height: 24px; opacity: 1; border-radius: 0; display: inline-block; background: #946564; transition-duration: 0.3s;}
    .bestPagination > .swiper-pagination-bullet-active{background-color: rgba(255, 255, 255, 0.4); border-radius: 0; border: #946564 1px solid; width: 195px; transition: width 0.3s ease-in-out; box-sizing: border-box;}
    .bestPagination > .swiper-pagination-fraction, .bestPagination.swiper-pagination-custom, .swiper-container-horizontal > .bestPagination.swiper-pagination-bullets{width: auto; bottom: 0; left: 0}
    /* mainBest(인덱스 베스트 슬라이드) slide Fin */


    .material-icons{font-size: 18px; color: #67594c; font-weight: 700;}
    .shopArea > div{display: flex;}
    .asideArea{width: 20.11%; padding: 50px 0 0 20px; margin-right: 2.6%;}
    .asideArea nav > ul > li{margin-bottom: 25px;}
    .asideArea nav > ul > li a{font-size: 25px; font-weight: 500; color: #67594c; margin-bottom: 10px;}
    .asideArea nav > ul > li a span{transform: rotate(-90deg); margin: 0 5px; transition-duration: 0.3s;}
    .asideArea nav > ul > li a span.active{transform: rotate(-180deg); transition: 0.3s transform;}
    .asideArea nav > ul > li:last-of-type a{font-size: 25px; font-weight: 500; color: #67594c;}
    .asideArea nav > ul > li:last-of-type{margin-left: 30px;}
    .asideArea nav > ul > li ul{display: none;}
    .asideArea nav > ul > li ul li{margin: 10px 0;}
    .asideArea nav > ul > li ul li a{font-size: 16px; font-weight: 400; color: #a2968b;}
    .asideArea nav > ul > li ul li a:hover{color: #766a5e; font-weight: 500;}
    .asideArea nav > ul > li:not(:last-of-type) ul li a{margin-left: 35px;}
    /* shopArea aside(어사이드) Fin */


    .pgArea{display: flex; justify-content: center; margin-bottom: 50px;}
    .pgArea a{font-size: 20px; font-weight: 500; color:#a2968b; line-height: 20px;}
    .pgArea a:hover{color: #67594c;}
    .pgArea a.active{font-weight: 600; color: #67594c;}
    .pgArea a:first-of-type,.pgArea a:last-of-type{width: 15px; height: 15px;}
    .pgArea a:not(:last-of-type){margin-right: 15px;}
    .pgArea a:last-of-type img{transform: rotate(-180deg);}
    .pgArea a img{width: 100%;}
    /* .pgArea Pagination(샵,비디오 하단 페이저) Fin */


    footer{margin-top: 100px; display: flex; flex-direction: column; align-items: flex-end; }
    footer > div:not(:last-of-type){display: flex;}
    footer > div:first-of-type{margin-bottom: 60px;}
    footer > div:first-of-type div h3{margin-bottom: 15px;}
    footer > div div h3, footer > div h3{font-size: 25px; font-weight: 600; color: #67594c;}
    footer > div:first-of-type div label{display: none;}
    footer > div:first-of-type > div:not(:first-of-type){margin-left: 110px;}
    footer > div:first-of-type div:nth-of-type(-n+3) h3{ text-align: center;}
    footer > div:first-of-type div:nth-of-type(-n+3) ul li:not(:last-of-type){margin-bottom: 5px;}
    footer > div:first-of-type div:nth-of-type(-n+3) ul li{text-align: center;}
    footer > div:first-of-type div:nth-of-type(-n+3) ul li a{font-size: 14px; font-weight: 400; color: #67594c;}
    footer > div:first-of-type div:nth-of-type(n+4){text-align: right;}
    footer > div:first-of-type div:nth-of-type(4) address{font-style: normal; margin-top: 15px;}
    footer > div:first-of-type div:nth-of-type(4) address span:first-of-type{display: block; margin-bottom: 15px;}
    footer > div:first-of-type div:nth-of-type(4) address span:first-of-type a{font-size: 25px; color: #67594c; font-weight: 400;}
    footer > div:first-of-type div:nth-of-type(4) address span:not(:first-of-type){font-size: 14px; color: #67594c; font-weight: 400;}
    footer > div:first-of-type div:nth-of-type(4) address span:last-of-type{display: block; margin-top: 5px;}
    footer > div:first-of-type div:nth-of-type(5) ul li{color: #67594c; font-size: 14px; }
    footer > div:first-of-type div:nth-of-type(5) ul li:first-of-type{margin-bottom: 15px;}
    footer > div:first-of-type div:nth-of-type(5) ul li:first-of-type a{font-size: 16px; font-weight: 500; color: #67594c;}
    footer > div:first-of-type div:nth-of-type(5) ul li:nth-of-type(2){font-weight: 400; line-height: 18px; margin-bottom: 10px;}
    footer > div:first-of-type div:nth-of-type(5) ul li:last-of-type{font-weight: 500;}
    footer > ul{display: flex; margin-bottom: 60px;}
    footer > ul li{width: 25px; height: 25px;}
    footer > ul li:not(:first-of-type){margin-left: 30px;}
    footer > ul li a{width: 100%;}
    footer > div:last-of-type{text-align: right;}
    footer > div:last-of-type h3{margin-bottom: 15px;}
    footer > div:last-of-type address{line-height: 22px; margin-bottom: 40px; font-style: normal; display: flex; flex-wrap: wrap; justify-content: flex-end; width: 930px;}
    footer > div:last-of-type address, footer > div:last-of-type address a{font-size: 14px; font-weight: 400; color: #67594c;}
    footer > div:last-of-type address > a:first-of-type{margin-left: 5px;}
    footer > div:last-of-type address > *:not(:first-of-type)::before{content: '|'; margin: 0 5px; color: #67594c; font-size: 14px;}
    footer > div:last-of-type address > p:nth-of-type(7)::before{display: none;}
    footer > p{font-size: 12px; font-weight: 400; color: #67594c; margin-bottom: 100px;}
    /* footer(하단풋터) Fin */
}
/* pt2 Fin */


@media screen and (min-width: 1281px){
    .mainHeader{z-index: 10; position: fixed; margin: 0 5.98%; width: calc(100% - 11.96%); height: 170px; display: flex; align-items: center; justify-content: center;}
    .mainHeader.on ul li a{color: #67594c; transition: color 0.5s;}
    .mainHeader h1{position: absolute; width: 85px; height: 80px; left: 0; top: 45px;}
    .mainHeader h1 a{background: url(../image/3ce_logo.png) no-repeat center / 100%; width: 85px; height: 80px; display: block; transition-duration: 0.5s;}
    .mainHeader.on h1 a{background: url(../image/3ce_logo_B.png) no-repeat center / 100%; width: 85px; height: 80px; display: block; transition: background 0.5s;}
    .mainHeader nav ul{display: flex; justify-content: center;}
    .mainHeader nav ul li:not(:last-of-type){margin-right: 50px;}
    .mainHeader nav ul li a{font-size: 25px; font-weight: 400; color: #fff; transition-duration: 0.5s;}
    .mainHeader > ul{position: absolute; right: 0; display: flex; justify-content: center; align-items: center;}
    .mainHeader > ul li:first-of-type{width: 19px; height: 19px;}
    .mainHeader > ul li:first-of-type a{background: url(../image/Icon/search.png) no-repeat center / 100%; width: 19px; height: 19px; display: block; transition-duration: 0.5s;}
    .mainHeader.on > ul li:first-of-type a{background: url(../image/Icon/search_B.png) no-repeat center / 100%; width: 19px; height: 19px; display: block; transition: background 0.5s;}
    .mainHeader > ul li:not(:last-of-type){margin-right: 50px;}
    .mainHeader > ul li a{font-size: 25px; font-weight: 400; color: #fff; transition-duration: 0.5s;}
    .mainHeader.on > ul li a{transition: color 0.5s;}
    /* mainHeader(인덱스,로그인 헤더) Fin */


    .shopArea,.productArea{max-width: 1690px; margin: 0 auto; position: relative;}
    .subHeader{width: 100%; height: 170px; display: flex; align-items: center; justify-content: center;}
    .subHeader h1{position: absolute; width: 85px; height: 80px;  left: 20px; top: 45px;}
    .subHeader h1 a img{width: 100%;}
    .subHeader nav ul{display: flex; justify-content: center;}
    .subHeader nav ul li:not(:last-of-type){margin-right: 50px;}
    .subHeader nav ul li a{font-size: 25px; font-weight: 400; color: #67594c;}
    .subHeader > ul{position: absolute; right: 20px; display: flex; justify-content: center;}
    .subHeader > ul li:first-of-type{width: 19px; height: 19px;}
    .subHeader > ul li a img{width: 100%;}
    .subHeader > ul li:not(:last-of-type){margin-right: 50px;}
    .subHeader > ul li a{font-size: 25px; font-weight: 400; color: #67594c;}
    /* subHeader(인덱스,로그인 제외 모든헤더) Fin */

    
    .loginHeader h1 a{background: url(../image/3ce_logo_B.png) no-repeat center / 100%;}
    .loginHeader nav ul li a{color: #67594c;}
    .loginHeader > ul li:first-of-type a{background: url(../image/Icon/search_B.png) no-repeat center / 100%;}
    .loginHeader > ul li a{color: #67594c;}
    /* loginHeader(로그인 헤더) Fin */


    /* .swiper-wrapper{z-index: 1;} */
    .mainSlide.swiper-container{position: relative; width: calc(100% + 200px); /* z-index: 1; */ height: 582px; margin-left: -200px;}
    .mainSlide .swiper-slide{z-index: 1; text-align: center; font-size: 18px; width: 400px; height: 533px; background-size: cover; background-position: center; background-repeat: no-repeat;}
    .mainSlide.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet{margin: 0 5px 0 0;}

    .newPage a{display: block; transition-duration: 0.6s; letter-spacing: 1.5px; width: 400px; height: 100%; display: flex; flex-direction: column; justify-content: center;}
    .newPage a:hover{transition: background-color 0.3s ease-in-out; background-color: rgba(103, 89, 76, 0.3);}
    .newPage a strong,.newPage a div s, .newPage a div p{display: none;}
    .newPage a:hover strong{display: block; line-height: 24px; font-size: 20px; font-weight: 500; color: #fff;}
    .newPage a strong span{display: block;}
    .newPage a:hover div{display: flex; justify-content: center; margin-top: 60px;}
    .newPage a:hover div s, .newPage a:hover div p{display: inline-block; font-size: 20px; font-weight: 400; color: #fff;}
    .newPage a:hover div s{opacity: 0.8;}
    .newPage a:hover div s::after{content: '원';}
    .newPage a:hover div p::before{margin: 0 5px; content: '→';}
    .newPage a:hover div p::after{content: '원';}
    .newPage:first-of-type{background-image: url(../image/Edition/1/BUTTERCREAM/1.jpg);}
    .newPage:nth-of-type(2){background-image: url(../image/Edition/1/SOFTMELLOW/1.jpg);}
    .newPage:nth-of-type(3){background-image: url(../image/Edition/1/WARMISHMOVE/1.jpg);}
    .newPage:last-of-type{background-image: url(../image/Edition/1/ORANGEBREEZE/1.jpg);}
    .newPagination > .swiper-pagination-bullet{width: 24px; height: 24px; opacity: 1; border-radius: 0; display: inline-block; background: #c1a58d; transition-duration: 0.3s;}
    .newPagination > .swiper-pagination-bullet-active{background-color: rgba(255, 255, 255, 0.4); border-radius: 0; border: #c1a58d 1px solid; width: 195px; transition: width 0.3s ease-in-out; box-sizing: border-box;}
    .newPagination > .swiper-pagination-fraction, .newPagination.swiper-pagination-custom, .swiper-container-horizontal > .newPagination.swiper-pagination-bullets{width: auto; bottom: 0; left: 0;}
    /* mainNew(인덱스 뉴 슬라이드) slide Fin */


    .bestPage a{display: block; transition-duration: 0.6s; letter-spacing: 1.5px; width: 400px; height: 100%; display: flex; flex-direction: column; justify-content: center;}
    .bestPage a:hover{transition: background-color 0.3s ease-in-out; background-color: rgba(103, 89, 76, 0.3);}
    .bestPage a strong,.bestPage a div p{display: none;}
    .bestPage a:hover strong{display: block; line-height: 24px; font-size: 20px; font-weight: 500; color: #fff;}
    .bestPage a strong span{display: block;}
    .bestPage a:hover div{display: flex; justify-content: center; margin-top: 60px;}
    .bestPage a:hover div p{display: inline-block; font-size: 20px; font-weight: 400; color: #fff;}
    .bestPage a:hover div p::after{content: '원';}
    .bestPage:first-of-type{background-image: url(../image/best/lip/lip_1/1.jpg);}
    .bestPage:nth-of-type(2){background-image: url(../image/best/EYE/EYE_1/1.jpg);}
    .bestPage:nth-of-type(3){background-image: url(../image/best/ACC/ACC_1/1.jpg);}
    .bestPage:last-of-type{background-image: url(../image/best/FACE/FACE_1/1.jpg);}
    .bestPagination > .swiper-pagination-bullet{width: 24px; height: 24px; opacity: 1; border-radius: 0; display: inline-block; background: #946564; transition-duration: 0.3s;}
    .bestPagination > .swiper-pagination-bullet-active{background-color: rgba(255, 255, 255, 0.4); border-radius: 0; border: #946564 1px solid; width: 195px; transition: width 0.3s ease-in-out; box-sizing: border-box;}
    .bestPagination > .swiper-pagination-fraction, .bestPagination.swiper-pagination-custom, .swiper-container-horizontal > .bestPagination.swiper-pagination-bullets{width: auto; bottom: 0; left: 0}
    /* mainBest(인덱스 베스트 슬라이드) slide Fin */


    .material-icons{font-size: 18px; color: #67594c; font-weight: 700;}
    .shopArea > div{display: flex;}
    .asideArea{width: 20.11%; padding: 50px 0 0 20px; margin-right: 2.6%;}
    .asideArea nav > ul > li{margin-bottom: 25px;}
    .asideArea nav > ul > li a{font-size: 25px; font-weight: 500; color: #67594c; margin-bottom: 10px;}
    .asideArea nav > ul > li a span{transform: rotate(-90deg); margin: 0 5px; transition-duration: 0.3s;}
    .asideArea nav > ul > li a span.active{transform: rotate(-180deg); transition: 0.3s transform;}
    .asideArea nav > ul > li:last-of-type a{font-size: 25px; font-weight: 500; color: #67594c;}
    .asideArea nav > ul > li:last-of-type{margin-left: 30px;}
    .asideArea nav > ul > li ul{display: none;}
    .asideArea nav > ul > li ul li{margin: 10px 0;}
    .asideArea nav > ul > li ul li a{font-size: 16px; font-weight: 400; color: #a2968b;}
    .asideArea nav > ul > li ul li a:hover{color: #766a5e; font-weight: 500;}
    .asideArea nav > ul > li:not(:last-of-type) ul li a{margin-left: 35px;}
    /* shopArea aside(어사이드) Fin */


    .pgArea{display: flex; justify-content: center; margin-bottom: 50px;}
    .pgArea a{font-size: 20px; font-weight: 500; color:#a2968b; line-height: 20px;}
    .pgArea a:hover{color: #67594c;}
    .pgArea a.active{font-weight: 600; color: #67594c;}
    .pgArea a:first-of-type,.pgArea a:last-of-type{width: 15px; height: 15px;}
    .pgArea a:not(:last-of-type){margin-right: 15px;}
    .pgArea a:last-of-type img{transform: rotate(-180deg);}
    .pgArea a img{width: 100%;}
    /* .pgArea Pagination(샵,비디오 하단 페이저) Fin */


    footer{margin-top: 100px; display: flex; flex-direction: column; align-items: flex-end; }
    footer > div:not(:last-of-type){display: flex;}
    footer > div:first-of-type{margin-bottom: 60px;}
    footer > div:first-of-type div h3{margin-bottom: 15px;}
    footer > div div h3, footer > div h3{font-size: 25px; font-weight: 600; color: #67594c;}
    footer > div:first-of-type div label{display: none;}
    footer > div:first-of-type > div:not(:first-of-type){margin-left: 110px;}
    footer > div:first-of-type div:nth-of-type(-n+3) h3{ text-align: center;}
    footer > div:first-of-type div:nth-of-type(-n+3) ul li:not(:last-of-type){margin-bottom: 5px;}
    footer > div:first-of-type div:nth-of-type(-n+3) ul li{text-align: center;}
    footer > div:first-of-type div:nth-of-type(-n+3) ul li a{font-size: 14px; font-weight: 400; color: #67594c;}
    footer > div:first-of-type div:nth-of-type(n+4){text-align: right;}
    footer > div:first-of-type div:nth-of-type(4) address{font-style: normal; margin-top: 15px;}
    footer > div:first-of-type div:nth-of-type(4) address span:first-of-type{display: block; margin-bottom: 15px;}
    footer > div:first-of-type div:nth-of-type(4) address span:first-of-type a{font-size: 25px; color: #67594c; font-weight: 400;}
    footer > div:first-of-type div:nth-of-type(4) address span:not(:first-of-type){font-size: 14px; color: #67594c; font-weight: 400;}
    footer > div:first-of-type div:nth-of-type(4) address span:last-of-type{display: block; margin-top: 5px;}
    footer > div:first-of-type div:nth-of-type(5) ul li{color: #67594c; font-size: 14px; }
    footer > div:first-of-type div:nth-of-type(5) ul li:first-of-type{margin-bottom: 15px;}
    footer > div:first-of-type div:nth-of-type(5) ul li:first-of-type a{font-size: 16px; font-weight: 500; color: #67594c;}
    footer > div:first-of-type div:nth-of-type(5) ul li:nth-of-type(2){font-weight: 400; line-height: 18px; margin-bottom: 10px;}
    footer > div:first-of-type div:nth-of-type(5) ul li:last-of-type{font-weight: 500;}
    footer > ul{display: flex; margin-bottom: 60px;}
    footer > ul li{width: 25px; height: 25px;}
    footer > ul li:not(:first-of-type){margin-left: 30px;}
    footer > ul li a{width: 100%;}
    footer > div:last-of-type{text-align: right;}
    footer > div:last-of-type h3{margin-bottom: 15px;}
    footer > div:last-of-type address{line-height: 22px; margin-bottom: 40px; font-style: normal; display: flex; flex-wrap: wrap; justify-content: flex-end; width: 930px;}
    footer > div:last-of-type address, footer > div:last-of-type address a{font-size: 14px; font-weight: 400; color: #67594c;}
    footer > div:last-of-type address > a:first-of-type{margin-left: 5px;}
    footer > div:last-of-type address > *:not(:first-of-type)::before{content: '|'; margin: 0 5px; color: #67594c; font-size: 14px;}
    footer > div:last-of-type address > p:nth-of-type(7)::before{display: none;}
    footer > p{font-size: 12px; font-weight: 400; color: #67594c; margin-bottom: 100px;}
    /* footer(하단풋터) Fin */
}
/* pc Fin */
